
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}
<div class="row" style="padding:15px;">
    <ul class="list-group">
       
        <li class="list-group-item">
            <i class="fa fa-chevron-right"></i>
            <i class="fa fa-fw fa-user"></i> Mohsin Abbas
            <span>0300 5569808</span>   
        </li>
        <li class="list-group-item">
            <i class="fa fa-chevron-right"></i>
            <i class="fa fa-fw fa-user"></i> Khawar Abbas
        </li>
        <li class="list-group-item">
            <i class="fa fa-chevron-right"></i>
            <i class="fa fa-fw fa-user"></i> Assad Mehmood
        </li>
        <li class="list-group-item">
            <i class="fa fa-chevron-right"></i>
            <i class="fa fa-fw fa-user"></i> Hameed Ul Haq
        </li>
    </ul>
</div>

