
@{
    Layout = null;


#line default
#line hidden

#line 2 "C:\Users\mohsin\Documents\Visual Studio 2017\Projects\DeviceManagement\DeviceManagement\Views\Master\Login.cshtml"
    __o = Styles.Render("~/Content/css");
}

<div>Login</div>